body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

form {
  margin: 0 auto;
  width: 50%;
}

label,
select,
textarea,
button {
  display: block;
  margin: 10px 0;
  width: 100%;
}

label {
  font-weight: bold;
}

textarea {
  resize: none;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

canvas {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
}
